In [ ]:
LogisticRegression = 'a'
KNeighborsClassifier = 'b'
SVC = 'c'
DecisionTreeClassifier = 'd'

In [ ]:
classifiers = {
    "LogisiticRegression": LogisticRegression,
    "KNearest": KNeighborsClassifier,
    "Support Vector Classifier": SVC,
    "DecisionTreeClassifier": DecisionTreeClassifier
}

In [ ]:
for key, classifier in classifiers.items():
    print(key, classifier)

In [ ]:
%reset

In [ ]:
lst = ['A|B', 'D|E|F', 'G|H', 'I']

In [ ]:
import pandas as pd

In [ ]:
Msg_Type = ['MSG', 'DB', 'DB', 'MSG', 'DB', 'DB', 'DB','MSG', 'DB', 'DB', 'MSG', 'DB']
Data = [None, 'A', 'B', None, 'D', 'E', 'F', None, 'G', 'H', None, 'I']
df = pd.DataFrame(zip(Msg_Type, Data), columns = ['Msg_type', 'Data'])

In [ ]:
df

In [ ]:
df1 = df[df['Msg_type']=='MSG']

In [ ]:
df1.insert(loc=0, column='Trans_Col1', value=lst)

In [ ]:
df1

In [ ]:
grp = (df.assign(col3=(df['Msg_type']=='MSG').cumsum())
         .query("Msg_type == 'DB'")
         .groupby('col3')['Data'].agg('|'.join))

In [ ]:
df.loc[df['Msg_type']=='MSG', 'Col3'] = grp.values

In [ ]:
df.loc[df['Msg_type']=='MSG', 'result'] = df.assign(col3=(df['Msg_type']=='MSG').cumsum()).query("Msg_type == 'DB'").groupby('col3')['Data'].agg('|'.join) .values

In [ ]:
df[df['Msg_type'] == 'MSG']

In [ ]:
import pandas as pd
import numpy as np

In [7]:
import pandas as pd
df = pd.read_csv(r'C:/Users/prane/OneDrive/Desktop/local_rep/Datasets/A350PFR.csv')
df[['target_col']] = df[['target_col']].apply(pd.to_datetime)

In [8]:
lst = []
for val in df.corr_flt_msg_id[df['msg_type'] == 'nfde']:
    lst.append(df[df.int_flt_id ==int(val.split('|')[-1].strip())]['target_col'].values)
lst

[array(['2019-10-23T16:14:00.000000000', '2019-10-24T16:14:00.000000000'],
       dtype='datetime64[ns]'),
 array(['2019-10-25T16:14:00.000000000'], dtype='datetime64[ns]'),
 array(['2019-10-25T16:14:00.000000000'], dtype='datetime64[ns]'),
 array(['2019-10-20T16:14:00.000000000', '2019-10-21T16:14:00.000000000',
        '2019-10-22T16:14:00.000000000'], dtype='datetime64[ns]'),
 array(['2019-10-26T16:14:00.000000000'], dtype='datetime64[ns]')]

In [9]:
updated_list = []
for val in lst:
    updated_list.append(max(val))
val = len(df[df.msg_type == 'nfde'])
for i in range(val):
    df.loc[i, 'target_col'] = updated_list[i]

In [10]:
df

   corr_flt_msg_id msg_type  int_flt_id          target_col
0            1 | 2     nfde         NaN 2019-10-24 16:14:00
1            2 | 3     nfde         NaN 2019-10-25 16:14:00
2                3     nfde         NaN 2019-10-25 16:14:00
3                1     nfde         NaN 2019-10-22 16:14:00
4                4     nfde         NaN 2019-10-26 16:14:00
5              NaN       mm         1.0 2019-10-20 16:14:00
6              NaN       mm         1.0 2019-10-21 16:14:00
7              NaN       mm         1.0 2019-10-22 16:14:00
8              NaN       mm         2.0 2019-10-23 16:14:00
9              NaN       mm         2.0 2019-10-24 16:14:00
10             NaN       mm         3.0 2019-10-25 16:14:00
11             NaN       mm         4.0 2019-10-26 16:14:00

In [ ]:
lst